{% extends "houses/index.html" %}
{% load humanize %}
{% load django_bootstrap_breadcrumbs %}


{% block title %}Dedomeno - Real Estate{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Real Estate" "/houses/realestate" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <!--Property Type-->
            <div class="col-sm-4">
                <h2 class="text-center"><i class="fa fa-home fa-sm"></i> <a href="houses">AAAA Types</a></h2>
                <ul class="list-group">
                   <li class="list-group-item list-group-item-first"> -  <span class="pull-right"><spam class="badge badge-pill badge-total"> total </spam><spam class="badge badge-pill badge-sale"> sale </spam> <spam class="badge badge-pill badge-rent"> rent</span></span></li>
                    {% for property in property_list %}
                        <li class="list-group-item">
                            {{ property.property_type|title }}
                            <span class="pull-right">
                                <spam class="badge badge-pill badge-total"> {{ property.total }} </spam> <spam class="badge badge-pill badge-sale"> {{ property.sale }} </spam> <spam class="badge badge-pill badge-rent"> {{ property.rent }} </spam>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item"> <a href="#">more ...</a> </li>
                </ul>
            </div>
            <!--.Property Type-->
            <!--Real Estate-->
            <div class="col-sm-4">
                <h2 class="text-center"><i class="fa fa-building fa-sm"></i> <a href="houses">Real Estate</a></h2>
                <ul class="list-group">
                   <li class="list-group-item list-group-item-first"> - <spam class="badge badge-pill badge-total pull-right"> total </spam></li>
                    {% for real_estate in real_estate_list %}
                        <li class="list-group-item">
                            <a href="{% url 'houses:detail_real_estate' real_estate.real_estate %}">{{ real_estate.real_estate_raw }}</a>
                            <spam class="badge badge-pill badge-total pull-right"> {{ real_estate.total }} </spam>
                        </li>
                    {% endfor %}
                    <li class="list-group-item"> <a href="#">more ...</a> </li>
                </ul>
            </div>
            <!--.Real Estate-->
            <!--Provinces-->
            <div class="col-sm-4">
                <h2 class="text-center"><i class="fa fa-map-signs fa-sm"></i> <a href="houses">Provinces</a></h2>
                <ul class="list-group">
                   <li class="list-group-item list-group-item-first"> -  <span class="pull-right"><spam class="badge badge-pill badge-total"> total </spam><spam class="badge badge-pill badge-sale"> sale </spam> <spam class="badge badge-pill badge-rent"> rent</span></span></li>
                    {% for province in province_list %}
                        <li class="list-group-item">
                            {{ province.address_province|title }}
                            <span class="pull-right">
                                <spam class="badge badge-pill badge-total"> {{ province.total }} </spam> <spam class="badge badge-pill badge-sale"> {{ province.sale }} </spam> <spam class="badge badge-pill badge-rent"> {{ province.rent }} </spam>
                            </span>
                        </li>
                    {% endfor %}
                    <li class="list-group-item"> <a href="#">more ...</a> </li>
                </ul>
            </div>
            <!--.Provinces-->
        </div>
    </div>
{% endblock %}