{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dedomeno</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/25b2d4a1cc.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'houses/css/style.css' %}" />
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1><i class="fa fa-area-chart"></i> Dedomeno</h1>
            <p>Usefull data easy to understand</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <a href="houses">
                        <h2 class="text-center"><i class="fa fa-home"></i> Houses</h2>
                    </a>
                    <ul class="list-group">
                        <li class="list-group-item"> Real Estates <spam class="badge"> {{ real_estate_total }} </spam>
                        <li class="list-group-item"> Houses for rent <spam class="badge"> {{ houses_rent_total }} </spam> </li>
                        <li class="list-group-item"> Houses for buy <spam class="badge"> {{ houses_sale_total }} </spam> </li>
                    </ul>

                </div>
                <div class="col-sm-4">
                    <h2 class="text-center">
                        <i class="fa fa-motorcycle"></i> Vechicles</h2>
                    <ul class="list-group">
                        <li class="list-group-item"> No data yet <spam class="badge"> 0 </spam> </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2 class="text-center">
                        <i class="fa fa-shopping-cart"></i> Shoping</h2>
                    <ul class="list-group">
                        <li class="list-group-item"> No data yet <spam class="badge"> 0 </spam> </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>