attrs==16.3.0
cffi==1.9.1
constantly==15.1.0
cryptography==1.7.1
cssselect==1.0.0
dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
idna==2.1
incremental==16.10.1
lxml==3.7.0
parsel==1.1.0
Pillow==3.4.2
psycopg2==2.6.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
python-decouple==3.0
queuelib==1.4.2
requests==2.12.4
Scrapy==1.2.2
service-identity==16.0.0
six==1.10.0
sources==1.1.0
Twisted==16.6.0
w3lib==1.16.0
whitenoise==3.2.2
zope.interface==4.3.3
