<!--Footer-->
<footer class="page-footer center-on-small-only blue-grey lighten-5 pt-0">
    <div class="footer-rrss">
        <div class="container">
            <!--Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!--Grid column-->
                <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text text-center text-md-left"><strong>Get connected with us on:</strong></h6>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-12 col-md-7 text-center text-md-right">
                    <!--Facebook-->
                    <a class="icons-sm fb-ic ml-0" href="https://github.com/ginopalazzo/dedomeno"><i class="fab fa-github white-text mr-lg-4"> </i></a>
                    <!--Email-->
                    <a class="icons-sm li-ic" href="mailto:ginopalazzo@gmail.com?Subject=Hello%20Dedomeno"><i class="fa fa-at white-text mr-lg-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic" href="https://twitter.com/ginopalazzo"><i class="fab fa-twitter white-text mr-lg-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic" href="https://www.linkedin.com/in/ginesramirez/?locale=en_US"><i class="fab fa-linkedin white-text mr-lg-4"> </i></a>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </div>
    </div>

    <!--Footer Links-->
    <div class="footer-container container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-r dark-grey-text">
                <h6 class="title font-bold"><strong>Dedomeno</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>A Spanish real estate (Idealista) python scraper.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
                <h6 class="title font-bold"><strong>Data Areas</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a href="/houses"" class="dark-grey-text">Real Estate</a></p>
                <p>Vechicles</p>
                <p>Shoping</p>
                <p>and more... :)</p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r dark-grey-text">
                <h6 class="title font-bold"><strong>Useful links</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><a target="_blank" href="https://www.python.org/" class="dark-grey-text">Python</a></p>
                <p><a target="_blank" href="https://www.djangoproject.com/" class="dark-grey-text">Django</a></p>
                <p><a target="_blank" href="https://scrapy.org/" class="dark-grey-text">Scrapy</a></p>
                <p><a target="_blank" href="http://www.celeryproject.org/" class="dark-grey-text">Celery</a></p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
                <h6 class="title font-bold"><strong>Contact</strong></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p><i class="fa fa-home mr-3"></i> Madrid, 28004, ES</p>
                <p><i class="fa fa-envelope mr-3"></i> hello@dedomeno.com</p>
                <p><i class="fa fa-phone mr-3"></i> + 34 659 77 83 65</p>
                <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid text-center">
            © 2018  <a href="https://www.dedomeno.com">Dedomeno</a>
        </div>
    </div>
    <!-- Copyright-->

</footer>
<!--/.Footer-->